/* styles/globals.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; /* Fügt horizontale Zentrierung hinzu */
  padding: 10px;
  background-color: #23788d;
}

.header img {
  max-height: 500px;
  margin-right: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

//test
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.imageContainer {
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.2s ease-in-out;
}

.imageContainer:hover .image {
  transform: scale(1.1);
}

.caption {
  text-align: center;
  margin-top: 5px;
  color: #555;
}