.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(#f0f0f0);
}

.header img {
  max-height: 500px;
  align-items: center;
}

body {
  background-color: #bcb8f7;
}